<div class="container">
    <div class="text-center justify-content-center"><h1 class="row mt-5">User Management Portal</h1></div>
    <div class="row mt-5"> 
        <div class="col-md-6">
            <input [(ngModel)]="searchText" placeholder="Search (press enter to search)" (keyup.enter)="search()" class="form-control">
        </div>
        <div class="col-md-6">
            
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal" (click)="openModal('add','')"><i class="fas fa-plus"></i> Add User</button>
        </div>

</div>

    <div infiniteScroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="pointer-tr" (click)="sort('name')">Name</th>
                <th scope="col" class="pointer-tr" (click)="sort('email')">Email</th>
                <th scope="col" class="pointer-tr" (click)="sort('mobileNo')">Mobile No.</th>
                <th scope="col" class="pointer-tr" (click)="sort('designation')">Designation</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody *ngIf="recordCount > 0">
            <tr *ngFor="let user of userList;let i = index">
                <td scope="col">{{i +  1}}</td>
                <td scope="col">{{user.name }}</td>
                <td scope="col">{{user.email }}</td>
                <td scope="col">{{user.mobileNo }}</td>
                <td scope="col">{{user.designation}}</td>
                <td scope="col"><img src="{{user.image}}" onerror="this.src='../../../assets/blank.webp'" height="50" width="50" /></td>
                <td scope="col float-right"><i class="far fa-edit btn btn-warning" data-toggle="modal" data-target="#exampleModal" (click)="openModal('edit',user)"></i><i class="fas fa-trash-alt ml-2 btn btn-danger" (click)="deleteUser(user._id)"></i></td>
            </tr>
        </tbody>
        <tbody *ngIf="recordCount == 0">
            <tr><td class="text-center" colspan="7">No records found</td></tr>
        </tbody>
    </table>
</div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="showModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}} User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userForm">
            <div class="form-group" >
              <label for="recipient-name" class="col-form-label">Name:</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Email:</label>
                <input type="text" class="form-control" formControlName="email">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Mobile No:</label>
                <input type="text" class="form-control" formControlName="mobileNo">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Designation:</label>
                <input type="text" class="form-control" formControlName="designation">
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-primary" *ngIf="modalTitle == 'Add'" data-dismiss="modal" (click)="addUser()">Add User</button>
          <button type="button" class="btn btn-warning" *ngIf="modalTitle == 'Edit'" data-dismiss="modal" (click)="editUser()">Update User</button>
        </div>
      </div>
    </div>
  </div>

  <ngx-spinner bdColor= "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
